<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!--<servlet>-->
        <!--<servlet-name>SampleWebhook</servlet-name>-->
        <!--<servlet-class>jvm.SampleWebhook</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>SampleWebhook</servlet-name>-->
        <!--<url-pattern>/aog</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>DialogflowWebhook</servlet-name>-->
        <!--<servlet-class>jvm.DialogflowWebhook</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DialogflowWebhook</servlet-name>-->
        <!--<url-pattern>/df</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>DfTransactionsWebhook</servlet-name>-->
        <!--<servlet-class>jvm.DfTransactionsWebhook</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>DfTransactionsWebhook</servlet-name>-->
        <!--<url-pattern>/df/transactions</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>tasks</web-resource-name>-->
            <!--<url-pattern>/tasks/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>admin</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>cron</web-resource-name>-->
            <!--<url-pattern>/cron/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>admin</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--&lt;!&ndash;<listener>&ndash;&gt;-->
    <!--&lt;!&ndash;<listener-class>com.tmsdurham.maestro.StartupListener&ndash;&gt;-->
    <!--&lt;!&ndash;</listener-class>&ndash;&gt;-->
    <!--&lt;!&ndash;</listener>&ndash;&gt;-->
    <!--<welcome-file-list>-->
        <!--<welcome-file>index.html</welcome-file>-->
    <!--</welcome-file-list>-->
</web-app>